<div class="modal fade search-modal" id="search-modal">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div id="search" class="s-search mx-auto my-4">
          <div id="search-list" class="hide-type-list">
            <div class="s-type">
              <span></span>
              <div class="s-type-list">
                <label for="m_type-baidu" data-id="group-a">常用</label>

              </div>
            </div>
            <div class="search-group group-a"><span class="type-text text-muted">常用</span>
              <ul class="search-type">
                <li><input checked="checked" hidden="" type="radio" name="type2" id="m_type-baidu"
                    value="https://www.baidu.com/s?wd=" data-placeholder="百度一下，你就知道">
                  <label for="m_type-baidu"><span class="text-muted">百度</span></label>
                </li>

                <li><input hidden="" type="radio" name="type2" id="m_type-google"
                    value="https://www.google.com/search?q=" data-placeholder="谷歌搜索">
                  <label for="m_type-google"><span class="text-muted">谷歌</span></label>
                </li>
                <li>
                  <input hidden="" type="radio" name="type2" id="m_type-360"
                    value="https://github.com/search?utf8=%E2%9C%93&q=&type=Repositories&q="
                    data-placeholder="github搜索" />
                  <label for="m_type-360"><span class="text-muted">github</span></label>
                </li>
                <li>
                  <input hidden="" type="radio" name="type2" id="m_type-sogo" value="https://www.sov2ex.com/?q="
                    data-placeholder="v2ex搜索" />
                  <label for="m_type-sogo"><span class="text-muted">v2ex</span></label>
                </li>

              </ul>
            </div>

          </div>
          <form action="https://nav.iowen.cn?s=" method="get" target="_blank" class="super-search-fm">
            <input type="text" id="m_search-text" class="form-control smart-tips search-key" zhannei=""
              autocomplete="off" placeholder="输入关键字搜索" style="outline:0">
            <button type="submit"><i class="iconfont icon-search"></i></button>
          </form>
          <div class="card search-smart-tips" style="display: none">
            <ul></ul>
          </div>
        </div>


      </div>
      <div style="position: absolute;bottom: -40px;width: 100%;text-align: center;">
        <a href="javascript:" data-dismiss="modal"><i class="iconfont icon-close-circle icon-2x"
            style="color: #fff;"></i></a>
      </div>
    </div>
  </div>
</div>