name: GitHub Actions Build and Deploy Demo
on:
  push:
    branches:
      - master
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: Build and Deploy
      uses: JamesIves/github-pages-deploy-action@master
      env:
        ACCESS_TOKEN: ${{ secrets.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  }}
        BRANCH: master
        FOLDER: build
        BUILD_SCRIPT: npm install && npm run build
